@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes text-shine {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}

.animate-text-shine {
  background-size: 200% auto;
  animation: text-shine 3s linear infinite;
}

.resizer {
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.resizer:hover {
  background-color: #4b5563; /* Tailwind gray-600 */
  width: 3px;
}

